html, body {
    height: 100%;
}

body {
    font-family: "PingFang SC", "Microsoft YaHei", "Open Sans", sans-serif;
    margin: 0;
}

nav {
    /* height: 3rem; */
    background-color: #000000;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: nowrap;
}

a {
    text-decoration: none;
}

li {
    margin: 8px;
    list-style-type: none;
    display: inline;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {
    color: rgb(236, 236, 236);
}

.nav-title {
    margin-left: 5px;
    /* position: absolute; */
    color: #FFFFFF;
    flex: 1;
}

.nav-container {
    color: #FFFFFF;
    flex: 0 1 350px;
}

.title-container {
    margin: 0;
    width: 100%;
    text-align: center;
    height: 40%;
    background-color: #000000;
    color: #FFFFFF;
    /* position: relative; */

    justify-content: center;
    display: flex;
    align-items: center;
}

.title-container h1 {
    /* width: 100%; */
    margin: 0;
    /* top: 50%; */
    position: relative;
    /* transform: translateY(-50%); */
    font-size: 4rem;

    color: #333333;
    padding: 0;
}

.title-container h1::after {
    content: attr(data-spotlight);
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 5s infinite;
    background-image: url(title-bg.jpg);
    background-size: 150%;
    background-position: center center;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes spotlight {
    0% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);    
    }

    50% {
        -webkit-clip-path: ellipse(100px 100px at 100% 50%);
        clip-path: ellipse(100px 100px at 100% 50%);    
    }

    100% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);    
    }
}

/* Thanks to @CodingStartup */

.content-container {
    margin-left: 10%;
    margin-right: 10%;
}

.footer-container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    font-size: 1rem;
}

.footer-container a {
    color: #000000;
}